h1 {
	color:#f7deee;
	font-family: Segoe UI Semibold;
	font-size: 3rem;
	text-align: center;
	border-radius: 1px solid #2E0854;
	background-color: #683A5E;
	margin: 0;
}

table {
	width: 100%;
	font-size: 2rem;
	float: center;
}

caption {
	font-size: 4rem;
	color: #94858e;
	padding-bottom: 80px;
	padding-top: 80px;
}

tr {
	text-align: center;
	vertical-align: bottom;
}

th ,td {
	padding: 10px;
	text-align: center;
	border-top: 1px solid #2E0854;
}
td > a {
	font-size: 2rem;
	color: #c5b1be;
}
tr:hover {
	background-color: #683A5E;
	color: white;
	font-family: High Tower Text;
}
h1 > a {
	color: :#f7deee;
	font-family: Segoe UI Semibold;
	font-size: 3rem;
	text-decoration: none;
}
h2{
	font-size: 2rem;
	text-align: center;
}

h3 {
	text-align: center
}

h4 {
	text-align: center
}

body {
    background: white;
    color: #c5b1be;
    font-family: Helvetica;
    margin: 0;
}

span {
	color: #94858e;
	font-size: 1rem;
}
a {
	color: #BF5FFF;
	font-size: 1.2rem;
	font-family: Helvetica;
	text-decoration: none;
}

form {
	margin-left: 40px;
}

p {
	margin-left: 20px;
	font-family: High Tower Text;
}