h1 {
	color:#f7deee;
	font-family: Segoe UI Semibold;
}
h2{
	font-size: 1rem;
}

body {
    background: white;
    color: #c5b1be;
    font-family: Arial;
}

span {
	color: #94858e;
	font-size: 0.75rem;
}

