<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<title>
		Annie's Page
	</title>
	</head>
		<span>
			<body>
				<div>
					<h1>
						Hi Anni<a href="http://localhost:5000/home">e</a>
					</h1>
				</div>
				<span>
					<p>
						Well, I'm not really sure how we want to handle the lights on off thing once we get to that. It'd be so cool if we could make a cat animation that hits a switch when you click it.
					</p>
				</span>
			</body>
		</span>
</html>
