<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type= "text/css" rel="stylesheet" href='/static/style.css'/>
  </head>
  <body>
    <div class="container">
      <h1>KET SWITCH :3</h1>
      <br>
      <form action="" method="post">
        <p>Name: <input type="text" placeholder="?!?!?!?!" maxlength="10" name="username" value="{{
          request.form.username }}"></p>
        <p>Password: <input type="password" placeholder="?!?!?!?!?" maxlength="10" name="password" value="{{
          request.form.password }}"></p>
        <input class="btn" type="submit" value="LEGGO">
      </form>
    </div>
  </body>
</html>