<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type= "text/css" rel="stylesheet" href='/static/style.css'/>
  </head>
  <body>
    <div class="container">
      <h1>KET SWITCH :3</h1>
      <br>
      <div style="text-align:center">
      <form action="" method="post">
        <input class="textbox" input type="text" placeholder="Username" maxlength="10" name="username" value="{{request.form.username }}"><br />
        <input class="textbox" input type="password" placeholder="Password" maxlength="10" name="password" value="{{request.form.password }}">
        <input type="submit" style="position: absolute; left: -9999px"/>
      </form>
      </div>
    </div>
  </body>
</html>
