<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href='/static/style.css'/>
	<title> 
		KET SWITCH
	</title>
	<head/>
		<body>
			<h1>
				KET SWITCH :3
			</h1>
			<table>
				<caption>
					¡Never leave your bed to switch off the lights!
				</caption>
				<span>
					<tr>
						<td>
							Are you <a href="http://localhost:5000/name/Santiago">smol</a>?
						</td>
					</tr>
					<tr>
						<td>
							Are you <a href="http://localhost:5000/name/Annie">ket</a>?
						</td>
					</tr>
					<tr>
						<td>
							hmmm<a href="http://localhost:5000/name/Stranger">......</a>
						</td>
					</tr>
				</span>
			</table>
			<!-- I guess these links work for now, but I'm trying to implement a username thing -->
			<form action="redirect.php" method="get">
				Name:<input type="text" placeholder="?!?!?!?" maxlength="10" name="name"></input><br/>
				<input type="submit" name="submit" value="LEGGO"></input>
			</form>
			<p>this doesn't quite work yet lol pls dont hit me :3</p>
		</body>
</html>
