<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href='/static/style.css'/>
	<title> 
		KET SWITCH
	</title>
	<head/>
		<body>
			<h1>KET SWITCH</h1>
			<h2>Never leave your bed to switch off the lights!</h2>
			<h3>Steps To Sucess</h3>
				<span>
					<h4> click if you are <a href="http://localhost:5000/name/Santiago">smol</a></h4>
					<h4> click if you are <a href="http://localhost:5000/name/Annie">ket</a></h4>
					<h4><a href="http://localhost:5000/name/Stranger">......</a></h4>
				</span>
		</body>
</html>
